@model WowViewModel

<div class="wow-block">
    <div class="wow-block-title">
        <p class="wow-text-centered">Пустой блок</p>
    </div>
    <div class="wow-block-body" style="height:200px;">
        Содержание пустого блока.
    </div>
</div>