@model WowViewModel

<div class="wow-block">
    <div class="wow-block-title">
        <p class="wow-text-centered" >Новости</p>
    </div>
    <div class="wow-block-body" style="height:200px;" >
        Содержание новостей
        @foreach (User user in Model.Users)
        {
            @user.Name @:   
            @user.Reputation

        }
    </div>
</div>