@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kinks Roleplay</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/hover/css/hover-min.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn">
    
    <div id="container">
        <video autoplay muted loop>
            <source src="~/videos/light.mp4" type="audio/mp4">
        </video>

        <section id="main_content">
            <div id="head">
                <h1>Kinks</h1>
                <p class="sub_head">Friendliest community ever</p>
            </div>

            <div class="hvr-shadow" id="links" >
               <a asp-area="wow" asp-action="Index" > <img   class="hvr-bob" width="360" height="180" src="~/images/wow.png" /></a>
                
            </div>
        </section>

        <div class="footer">
            <div class="footer-text">
                <a class="footer-text" href="https://github.com/Antonystar/kinksrp">
                    KinksRP
                </a> © 2017
            </div>
        </div>
    </div>
</body>
</html>
