@model IEnumerable<String>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Wow RP
    <hr />
    And it is dirty strings:
    @foreach (String arg in Model)
    {
        <br />
        @arg
        
    }
</body>
</html>
